ion-slides {
    height: 80.9%;
}
.slideCard {
    height: 90%;
    width: 100%;
}
ion-card {
    box-shadow: none;
}
ion-textarea {
    overflow-y:scroll;
    max-height: -webkit-fill-available;
    // hide scoll-bar
    --overflow: hidden;
    --offset-bottom: auto!important;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
}