<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title color="medium">
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon color="medium"
          name="arrow-back-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="{{flashcards_Data ? '' : 'medium'}}"
        (click)="save()"
        [disabled]="flashcards_Data == undefined">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-buttons slot="end">
      <ion-button
        (click)="addDataBox()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-card class="cardBox">
    <ion-item>
      <ion-label
        position="floating">
        Question
      </ion-label>
      <ion-textarea class="ion-text-start"
        type="text" #inputOfQuestion
        rows="1" autoGrow="true"
        [(ngModel)]="dataBox.question">
      </ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card class="cardBox">
    <ion-item>
      <ion-label
        position="floating">
        Answer
      </ion-label>
      <ion-textarea class="ion-text-start"
        type="text"
        rows="2" autoGrow="true"
        [(ngModel)]="dataBox.answer">
      </ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let data of flashcards_Data; let i = index">
    <ion-item style="position: absolute">
    <ion-buttons>
        <ion-button
          (click)="removeDataBox(i)">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
      <ion-textarea
        autoGrow="true" readonly
        [value]="data.question">
      </ion-textarea>
      <ion-textarea
        autoGrow="true" readonly
        [value]="data.answer">
      </ion-textarea>
  </ion-card>

  <!-- <ion-card>
    <ion-item>
      <ion-label>
        Access
      </ion-label>
      <ion-select
        interface="action-sheet"
        [(ngModel)]="flashcards.access">
        <ion-select-option
          *ngFor="let access of flashcards_item.access"
          [value]="access.value">
          {{access.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card> -->
</ion-content>