<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title color="medium">
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon color="medium"
          name="arrow-back-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [color]="flashcards_Data?.length ? '' : 'medium'"
        (click)="save()"
        [disabled]="!flashcards_Data?.length">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-buttons slot="end">
      <ion-button
        (click)="addDataBox()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-card class="cardBox">
    <ion-item>
      <ion-label
        position="floating">
        Question
      </ion-label>
      <ion-textarea class="ion-text-start" type="text"
        #textQuestion  (ionFocus)="textQuestion.autoGrow=true"
        [rows]="index==undefined ? 1 : 6"
        [autoGrow]="index==undefined ? true : false"
        [(ngModel)]="dataBox.question">
      </ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card class="cardBox">
    <ion-item>
      <ion-label
        position="floating">
        Answer
      </ion-label>
      <ion-textarea class="ion-text-start" type="text"
        #textAnswer (ionFocus)="textAnswer.autoGrow=true"
        [rows]="index==undefined ? 2 : 12"
        [autoGrow]="index==undefined ? true : false"
        [(ngModel)]="dataBox.answer">
      </ion-textarea>
    </ion-item>
  </ion-card>
  
  <div *ngFor="let data of flashcards_Data; let i = index">
    <ion-buttons style="float:right">
      <ion-button
        (click)="removeDataBox(i)">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-card>
    <ion-textarea
      autoGrow="true" readonly
      [value]="data.question">
    </ion-textarea>
    <ion-textarea
      autoGrow="true" readonly
      [value]="data.answer">
    </ion-textarea>
    </ion-card>
  </div>
</ion-content>