<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title
    color="medium">
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon
          name="arrow-back-outline"
          color="medium">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showOrHideAnswer()">
        <ion-icon
          name="{{showAnswer ? 'eye-outline' : 'eye-off-outline'}}"
          color="medium">
        </ion-icon>
      </ion-button>
      <!-- <ion-button>
        <ion-icon
          name="ellipsis-horizontal-circle-outline"
          color="medium">
        </ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-view-card
    [list]="list"
    [flashcards]="flashcards"
    [index]="index"
    [slideOpts]="slideOpts"
    [showAnswer]="showAnswer"
    [isLocal]="isLocal">
  </app-view-card>
</ion-content>