ion-card {
    box-shadow: none;
}
// hide scoll-bar
ion-content {
    // overwrite inline styles
    --overflow: hidden;
    --offset-bottom: auto!important;
    overflow: auto;
    background-color: #fff;
    &::-webkit-scrollbar {
      display: none;
    }
}