<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title color="medium">
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon color="medium"
          name="arrow-back-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [color]="authValue?.name && authValue?.password ? '' : 'medium'"
        (click)="updateDbAccount()"
        [disabled]="!(authValue?.name && authValue?.password)">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <ion-label>
        Name
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input
        class="ion-text-end"
        type="text"
        required
        [(ngModel)]="authValue.name">
      </ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label>
        Password
      </ion-label>
      <ion-icon
        [name]="showPassword ? 'eye-off' : 'eye'"
        (click)="showHide()">
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-input
        class="ion-text-end"
        [type]="showPassword ? 'text' : 'password'"
        required
        [(ngModel)]="authValue.password">
      </ion-input>
    </ion-item>
  </ion-card>
</ion-content>