<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="medium">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="checkOffAll()">
        <ion-icon
        name="reload-outline"
        color="medium">
        </ion-icon>
      </ion-button>
      <!-- <ion-button>
        <ion-icon
          name="ellipsis-horizontal-circle-outline"
          color="medium">
        </ion-icon>
      </ion-button> -->
      <ion-button
        (click)="openComposeCardsModal()">
        <ion-icon
          name="add"
          color="medium">
      </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-view-flashcards [flashcards]="flashcards"></app-view-flashcards>
  <ion-item-divider></ion-item-divider>
  <app-list-card
    [flashcards]="flashcards"
    [list]="flashcards?.data">
  </app-list-card>
</ion-content>