<ion-card *ngFor="let item of dbPosts" [routerLink]="['../flashcards', {id: item.post_id}]">
  <ion-item>
    <ion-col>
      <ion-text>
        <b>{{item.title}}</b>
      </ion-text>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col>
      <ion-badge color="light" style="height:24px"
        *ngFor="let tag of item.tags; let i = index">
        <ion-label style="font-size:11px">
          <b>#{{tag}}</b>
        </ion-label>
      </ion-badge>
    </ion-col>
    <div slot="end">
      <ion-row>
        <ion-badge color="light">
          {{item.data.length}} Cards
        </ion-badge>
      </ion-row>
      <ion-row>
        <ion-badge color="light">
          <ion-text color="danger">{{item.number_liked}} Likes</ion-text>
        </ion-badge>
      </ion-row>
    </div>
  </ion-item>
</ion-card>